@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* Core Styles */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: 222;
    background-color: #FFFFFF;
  }

  .padding {
      padding-bottom: 2rem;
  }

  .navbar {
    background-color: #FFFFFF;
}

.navbar li a {
    color: white;
}

.carousel-inner img {
  height: 700px;
  width: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

  .mission-header {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .mission-header hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

  .mission-statement {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .team-header {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
  }  
/* hero */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.jumbotron {
    color: white;
    background-image: url("img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 1rem;
}

footer a {
  color: #d5d5d5;
}
footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.news-img1 {
  color: white;
  background-image: url("img/news/mk11_erron_black.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-img2 {
  color: white;
  background-image: url("img/news/discord.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-img3 {
  color: white;
  background-image: url("img/news/MHW.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-img4 {
  color: white;
  background-image: url("img/news/greenmangaming.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-text {
  position: absolute;
  padding-top: 380px;
  padding-left: 20px;
}